rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    
    // Cultural Payments
    match /cultural-payments/{userId}/{filename} {
      allow write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.role in ['admin', 'superadmin', 'view_admin']);
    }

  }
}
